<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login_form">
  <h2>Login</h2>
  <div>
    <label for="email">Enter Mail Id</label>
    <input type="email" id="email" name="email" formControlName="email" />
    <div
      class="error_msg"
      *ngIf="
        (loginForm.controls.email.touched || loginForm.controls.email.dirty) &&
        loginForm.controls.email.errors
      "
    >
      <div *ngIf="loginForm.controls.email.errors['required']">
        Email is required.
      </div>
      <div *ngIf="loginForm.controls.email.errors['email']">
        Invalid email format.
      </div>
    </div>
  </div>

  <div>
    <label for="password">Enter Password</label>
    <input
      type="password"
      id="password"
      name="password"
      formControlName="password"
    />
    <div
      class="error_msg"
      *ngIf="
        (loginForm.controls.password.touched ||
          loginForm.controls.password.dirty) &&
        loginForm.controls.password.errors
      "
    >
      <div *ngIf="loginForm.controls.password.errors['required']">
        password is required
      </div>
      <div *ngIf="loginForm.controls.password.errors['minlength']">
        password should be atleast 8 characters long
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
  <div class="error_msg" *ngIf="errorMsg.length > 1">{{ errorMsg }}</div>
</form>
